<h1>Developer Documentation</h1>

<p>This is the documentation for developers planning to access the {{ plattform_name }} RESTful API.</p>

<p>
<a href="{{ base }}/reference">Reference</a><br>
This place documents all available endpoints and provides a reference for each.
</p>

<p>
<a href="{{ base }}/guides">Guides</a><br>
At the guides section, there are more in-depth articles about certain topics in the API, such as 
authentication and authorization.
</p>