body {
	padding-top: 70px;
	padding-bottom: 70px;
}

/*#reference {
	position: fixed;
}*/

/*.affix {

}*/

#menu {
	position: fixed;
}

a[data-toggle="collapse"] {
	outline: none;
}

a[data-toggle="collapse"] > i {
	transition: transform 0.2s linear;
}

a[data-toggle="collapse"].collapsed > i {
	transform: rotate(-90deg);
}

#menu.panel-group .panel + .panel {
    margin-top: 0;
}

#menu .panel {
	border-top-width: 0;
	border-radius: 0;
}

#menu .panel:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-width: 1px;
}

#menu .panel:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.slug {
	font-size: 0.7em;
	color: #999;
}

.operation-nav {
	list-style-type: none;
	padding-left: 0;
	max-height: 400px;
	overflow-y: auto;
}

.operation-nav li {
	/*line-height: 1.8em;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 35px;
}

.operation-nav .http_method {
	font-size: 0.7em;
	display: inline-block;
	
	width: 40px;
	/*text-align: center;
	vertical-align: middle;
	padding: 2px 0px 2px;
	border-radius: 2px;
	height: 2.2em;*/
}

.operation-nav .path {
	color: #333;
}

.operation-nav .put .http_method {
	color: #C5862B;
}

.operation-nav .get .http_method {
	color: #0F6AB4;
}

.operation-nav .post .http_method {
	color: #10A54A;
}

.operation-nav .delete .http_method {
	color: #A41E22;
}

.operation-nav .patch .http_method {
	color: #D38042;
}

/* API Listing */

#api_info {
	display: none;
}

#resources_container {
	width: auto;
	padding-left: 0;
}

#resources {
	padding-left: 0;
}

#resources .options li:first-child
/*#resources .options li:last-child*/ 
{
	display: none;
}

.devdocs .swagger-section .swagger-ui-wrap ul#resources li.resource > div.heading:after {
	content: ' ';
	clear: both;
	margin-bottom: 5px;
	display: block;
}

.devdocs .swagger-section .swagger-ui-wrap ul#resources li.resource > div.heading .options {
	margin-right: 0;
}

.devdocs .swagger-section .swagger-ui-wrap ul#resources li.resource > div.heading .options li:nth-child(3) {
	border-right-width: 0;
	padding-right: 0;
}

.devdocs .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
	display: none;
}

#resources .endpoints {
	padding-left: 0;
}

.swagger-section .footer {
	display: none;
}

pre {
	font: 12px/1.4em Consolas, "Liberation Mono", Courier, monospace;
}

.terminal {
	background-color: #444;
	color: #FFF;
	border-radius: 3px;
	border-color: #444;
}