<h1>{{ module.title }} Reference <span class="slug">/{{ module.slug }}</span></h1>


<div class="swagger-section"><div id="swagger" class="swagger-ui-wrap"></div></div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function () {
	swaggerUi = new SwaggerUi({
		url: "{{ url }}",
		dom_id: "swagger",
		validatorUrl: null,
		docExpansion: "list",
		jsonEditor: false,
// 		supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
		onComplete: function(swaggerApi, swaggerUi){
// 			log("Loaded SwaggerUI");

// 			if (typeof initOAuth == "function") {
// 				/*
// 				initOAuth({
// 				clientId: "your-client-id",
// 				realm: "your-realms",
// 				appName: "your-app-name"
// 				});
// 				*/
// 			}
			
			$('pre code').each(function(i, e) {
				hljs.highlightBlock(e)
			});
		}
// 		onFailure: function(data) {
// 			log("Unable to Load SwaggerUI");
// 		},
    });

	$('.operation-nav a').on('click', function(e) {
		window.setTimeout(function() {
			Docs.shebang();
			$('html, body').animate({
		        scrollTop: $("#" + e.target.dataset.operation).offset().top - parseInt($('body').css('padding-top'))
		    }, 500);
		}, 10);
	});

// 	$('#input_apiKey').change(function() {
// 		var key = $('#input_apiKey')[0].value;
// 		log("key: " + key);
// 		if (key && key.trim() != "") {
// 			log("added key " + key);
// 			window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
// 		}
// 	})
	swaggerUi.load();
});
</script>